<!DOCTYPE html>
<html lang="en">
<head>
  <title>Static Website</title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="./stylesheets/style.css"> -->
</head>
<body>
<div class="container py-5">    
  <%- include('partials/menu.ejs')%>
  <div class="row">
    <h2>Privacy Policy</h2>
   <pre>
    
    At CareerEngine.in, we handle your data with utmost care.
    
    Effective Date: August 1, 2021
    
    This Privacy Policy explains what information of yours will be collected and used by CareerEngine (“we,” “us,” or “our”) when you access our website located at www.careerengine.in as well as all related websites (together, the “Website”), the mobile applications provided by us (the “Apps”), and other services (collectively, together with the Website and the Apps, our “Service”). We will not use or share your information with anyone except as described in this Privacy Policy. Each time you use our Service you are accepting the practices described in this Privacy Policy at that time.
    
    Personal Information You Provide
    
    We encourage parents and teachers to supervise their child or student’s use of the App. We collect some basic sign-in information used when creating the account (Email address, Profile Name) and may collect analytics data (which does not contain personal information) from a child’s use of the App in order to offer and develop the Service. 
    
    In no event do we collect more information than what is required to use our learning app. 
    
    We do not collect any credit card information as the content on our website/app is free.  
    
    Information Collected Automatically
    
    We collect log file information that is automatically reported by your device each time you access our Services. For example, when you access the Website, our servers automatically record certain information that your web browser sends whenever you visit any website. These server logs may include information such as your web request, browser type, referring/exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other similar information which constitutes personal information.
    
    We will store this information in an anonymous aggregated form; however, our third-party tracking partners may store certain information, such as page views, in a manner that can be associated to specific users and may constitute personal information. We use persistent and session cookies on our Website. A persistent cookie remains on your hard drive after you close your browser and may be used by your browser on subsequent visits to the Website. Persistent cookies can be removed by following your web browser’s directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, you may experience some changes in your ability to use the Website.
    
    We do not collect specific information about your location from your mobile device, but we do log your IP address, which can be used to approximate location. We use IP addresses only for activities necessary to maintain or analyze the Service; perform network communications; authenticate users or personalize content; protect the security or integrity of the user and the Service; ensure legal or regulatory compliance; or fulfill a request of a user.
    
    How We Use Your Information
    Purposes
    We may use information we collect for a variety of purposes, including:
    
    To operate the Service, monitor the effectiveness of the Service, improve the content of the Service, and improve layout and design.
    To help provide you with a smooth, efficient user experience.
    To monitor, analyze, and describe usage patterns and performance of the Service, including aggregate metrics such as total number of visitors, traffic, and demographic patterns.
    To conduct system administration and system troubleshooting and to diagnose or fix technology problems.
    To comply with legal requirements and processes (for example, in response to subpoenas, court orders, and law enforcement or governmental requests or investigations), and to protect our legal rights or the rights of others (for example, by working to reduce the risk of fraud or misuse of the Service).
    To advertise to you while you are on our website
    Data Retention
    We will retain your information for as long as is reasonably necessary in relation to the purposes for which this data was collected. In many instances, we will retain your data while it is necessary for your use of the Service, which may include maintaining this information beyond when you cease using the Service.
    
    How We Share Your Information
    Personal Information
    We will not rent or sell your personal information to others, nor will we share your personal information with independent third parties for marketing purposes. To operate the Service, however, we may share your personal information with our agents, representatives, and contractors so they can provide us with support services and other features. Generally, we limit the information provided to these service providers to that which is reasonably necessary for them to perform their functions, and we require them to agree to maintain the confidentiality of such information.
    
    Below are categories of recipients of your personal data and some examples of the third-parties in that category. 
    
    Cloud Service Providers (Salesforce Marketing and Service Cloud)
    Analytics (Firebase and Appsflyer)
    Data warehousing (Amazon Web Services)
    Non-Personally Identifiable Information
    We may share non-personally identifiable information (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.) with third parties for various purposes, including (i) compliance with various reporting obligations; (ii) for business or marketing purposes; or (iii) to assist such parties in understanding our users’ interests, habits, and usage patterns for certain programs, content, services, advertisements, promotions, and/or functionality available through the Website.
    
    Instances Where We are Required to Share Your Personal Information
    We will disclose your personal information where required to do so by law or subpoena or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) to enforce our Terms of Use or to protect the security or integrity of our Service; and/or (c) to exercise or protect the rights, property, or personal safety of Career Engine, our users or others. It is our policy to provide notice to our users before producing their personal information in response to law enforcement requests unless (i) we are prohibited by law or court order from doing so, (ii) we have reason to believe the user’s account has been compromised such that the notice would go to the wrong person, or notice would otherwise be counterproductive or would create a risk to safety, or (iii) it is an emergency request and prior notice would be impractical (in which case we may provide notice after the fact).
    
    What happens in the event of a change of control
    We may buy or sell/divest/transfer the company (including any shares in the company), or any combination of our products, services, assets and/or businesses. Your personal information, such as email addresses, and other user information related to the Service, may be among the items sold or otherwise transferred in these types of transactions. We may also sell, assign or otherwise transfer such personal information in the course of corporate divestitures, mergers, acquisitions, bankruptcies, dissolutions, reorganizations, liquidations, similar transactions or proceedings involving all or a portion of the company.
    
    Individual Rights
    We also make certain choices available to you when it comes to your personal data. Please review the below information outlining your choices and how to exercise them. We will respond to all requests within a reasonable timeframe.
    
    Delete Your Data
    You also have the right to have your personal data deleted. This is sometimes known as the ‘right to be forgotten’. To request that we delete all personal data about you, please submit a request using the contact information at the end of this section. We may request more information to confirm your identity before deleting any personal data.
    
    Links To Third-Party Content
    The Services may contain features or links to websites and services provided by third parties. Any information you provide on third-party websites or services is provided directly to the operators of such services and is subject to those operators’ policies, if any, governing privacy and security, even if accessed through the Website. We are not responsible for the content or privacy and security practices and policies of third-party websites or services to which links or access are provided through the Services. We encourage you to learn about third parties’ privacy and security policies before providing them with information.
    
    Email and Recommendation Communications That We May Send
    We may send you, or you may elect to sign up to receive, emails from us. To help us understand whether we are providing information of interest to you, we may include software code or other tracking technologies in our emails to monitor whether you opened a particular email, whether you have clicked on the images and/or links in the email, the date and time the message was opened, and whether your computer is capable of receiving HTML-based email. We endeavor to allow you to unsubscribe at any time from our email programs by clicking on the unsubscribe link at the bottom of any email message. We reserve the right to send you service announcements or similar administrative messages, without offering you the opportunity to opt out of receiving them.
    
    General
    Updates to Our Privacy Policy
    We reserve the right to update this Privacy Policy from time to time. When we do, we will revise the “Effective Date” at the top of this Privacy Policy. We encourage you to check this page periodically for any updates. If you continue to use the Service following the posting of an updated version of this Privacy Policy, we will treat your continued use as acceptance of the updated version.
    
    If we make material changes to this Privacy Policy, we may notify you more prominently.
    
    Contacting Us
    If you have any remaining questions about how we treat your privacy, you can contact us by email at contact@careerengine.in. You may also contact us below:
    
    CareerEngine.in
    
    Shahid Baba Deep Singh Nagar Street No. 3, 
    
    Sri Muktsar Sahib (152026), 
    
    Punjab, India
   </pre>
  </div>

   


  </div>
</div>
<script>
  function change(value)
  {
    if(value == 'Canada')
    {
      document.getElementById('Province-div').style.display = 'block';
      document.getElementById('city-div').style.display = 'block';
    }else{
      document.getElementById('Province-div').style.display = 'none';
      document.getElementById('city-div').style.display = 'none';
    }
  }
</script>
</body>

</html>